<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>后台管理</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
</head>
<body>
<nav class="navbar bg-primary navbar-dark">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="#">后台管理系统</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2 text-center">
            <ul class="nav flex-column">
                <li class="nav-item"><a class="nav-link active" href="#">增加番剧</a></li>
                <li class="nav-item"><a class="nav-link">浏览番剧</a></li>
                <li class="nav-item"><a class="nav-link">修改番剧</a></li>
            </ul>
        </div>
        <div class="col-md-5 offset-md-2">
            <h1>增加条目</h1>
            <form>
                <div class="form-group">
                    <label for="bangumi">番剧名称：</label>
                    <input type="text" class="form-control" id="bangumi">
                </div>
                <div class="form-groupl">
                    <label for="comment">番剧介绍：</label>
                    <textarea class="form-control" rows="5" id="comment"></textarea>
                </div>
                <div class="form-group">
                    <label for="cover_image">上传封面图：</label>
                    <input type="file" class="form-control" id="cover_image" accept="image/*">
                </div>
                <!--                <div class="form-group">-->
                <!--                    <label for="links">剧集地址：</label>-->
                <!--                    <input type="text" class="form-control" id="links">-->
                <!--                </div>-->
            </form>
            <div class="text-right">
                <button type="button" class="btn btn-primary" onclick="btn()">提交</button>
            </div>
        </div>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script>
    function btn() {
        if ($('#cover_image')[0].files[0] == null || $('#bangumi').val() == '' || $('#comment').val() == '') {
            console.info('null');
            return;
        }
        var formData = new FormData();
        formData.append('file', $('#cover_image')[0].files[0]);
        formData.append('name', $('#bangumi').val());
        formData.append('content', $('#comment').val());
        $.ajax({
            url: '/saveBangumi',
            type: 'post',
            cache: false,
            data: formData,
            processData: false,//这2个必须加
            contentType: false,
            dataType: 'json',
            success: function (data) {
                console.info(data);
            }
        });
    }

</script>
</body>
</html>