<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 <button onclick="myclick()">点击我测试</button>
</body>
<script src="js/jquery-3.3.1.min.js"></script>
<script>
    function myclick() {
        $.ajax({
            type: 'post',
            url: '/api/login',
            //dataType: 'json',
            data: {
                'username': 'admin',
                'password': 159357
            },
            success: function (data) {
                alert(data);
                console.info(data);
            },
            error:function (XMLHttpRequest,textStatus) {
                console.info(XMLHttpRequest.responseText);
                console.log(XMLHttpRequest.status);
                console.log(textStatus);
            },
            complete:function (XMLHttpRequest) {
                console.log(XMLHttpRequest.responseText);
            }
        });
    }
</script>
</html>